.box{
	border:1px solid #bdbdbd;
	padding: 20px;
	border-radius: 2px;
} 
.orange-bg{
	background-color: #ffa726; 
}
.instruction-block{
	background-color: #eceff1;
}
.light-grey{
	background-color: #f5f5f5
}